.card {
  min-width: 100%;
  // min-height: 500px;
  // margin-right: 2rem;
  position: relative;
  display: flex;
  border: 1px solid #73cca8;
  padding: 0.75rem;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 2rem;
  @media (max-width: 1024px) {
    min-height: 500px;
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
  @media (max-width: 425px) {
    // flex-direction: column;
  }
}
.btnWrapper {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
  color: #73cca8;
  background-color: #222733;
  font-weight: 600;
  line-height: 2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.imgContainer {
  display: flex;
  width: 322px;
  height: 322px;
  justify-content: center;
  padding: 10px;
  border: 1px solid rgb(3, 2, 2);
  @media (max-width: 425px) {
    width: 282px;
    height: 282px;
    margin: 1rem 0;
  }
}

.img {
  width: 300px;
  align-self: center;
}

.title {
  font-size: 1.3rem;
  text-align: center;
  line-height: 2rem;
  padding: 0.5rem 0;
  position: absolute;
  bottom: 8%;
  left: 0%;
}

.techList {
  padding: 1rem 0;
  color: #73cca8;
  text-align: start;
  width: 100%;
  font-weight: 600;
}

.infoText {
  padding: 0 1.7rem;
}
.subtitle {
  text-align: center;
  // padding-top: 1rem;
}

.info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 322px;
  @media (max-width: 1024px) {
    height: initial;
  }
}

.description {
  text-align: justify;
}
