.cvWrapper {
  max-width: 40rem;
  text-align: justify;
  margin: 0 auto;
  padding: 3rem 0;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 4px solid #73cca8;
}
.intro {
  max-width: 40rem;
  margin: 2rem auto;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.description {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 0 0.5rem;
  }
}

.downloadBtn {
  position: relative;
  font-size: 1.5rem;
  background-color: inherit;
  padding: 1rem 2.3rem 1rem 1rem;
  vertical-align: center;
  border-radius: 2rem;
  background-color: #73cca8;
  color: #222733;
  border: 0;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    right: 12px;
    bottom: 20px;
    background-image: url("../../assets/icons/downloadIcon.svg");
    @media (max-width: 768px) {
    }
  }
}

.paper {
  background-color: #dbe8d4;
  color: #222733;
  padding: 0.5rem 1rem;
}

.cvTitlte {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}
.cvSubTitlte {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.contacts {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-weight: 500;
  @media (max-width: 768px) {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.blockTitle {
  color: #73cca8;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: start;
  border-bottom: 2px solid #73cca8;
  margin: 0.5rem 0;
}

.text {
  font-size: 0.9rem;
}

.skillsList {
  max-height: 5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  min-height: 9rem;
  align-content: space-around;
}

.point {
  position: relative;
  font-size: 0.9rem;
  &::before {
    content: "▹";
    position: absolute;
    left: -1.5rem;
    font-weight: 600;
    color: #73cca8;
    font-size: 1rem;
    line-height: 1rem;
  }
}

.h5Title {
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
  a {
    color: inherit;

    text-decoration: underline;
  }
  @media (max-width: 425px) {
    max-width: 60%;
  }
}
.period {
  font-size: 0.8rem;
  opacity: 0.7;
}

.workHead {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.workDesc {
  margin: 0 1.5rem;
  .point {
    margin: 0.5rem 0;
  }
}

.edTitle {
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
  a {
    color: inherit;
  }
}
