.heroWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 8rem 0 3rem;
  margin: 0 auto;
  @media (max-width: 768px) {
    min-height: 70vh;
    padding: 3rem 0;
  }
}

.content {
  margin: 0 auto;
  text-align: center;
}
.title {
  font-size: 5.5rem;
  font-weight: 400;
  @media (max-width: 768px) {
    font-size: 3.5rem;
  }
}
.subTitle {
  font-size: 2rem;
  font-weight: 400;
}
.photoContainer {
  width: 340px;
  height: 340px;
  margin: 2rem auto;
  z-index: 1000;
  @media (max-width: 768px) {
    width: 204px;
    height: 204px;
  }
}

.img {
  width: 100%;
  height: 100%;
  background-color: #2e3445;
  border-radius: 50%;
}

.description {
  max-width: 40rem;
  margin: 2rem auto;
  font-size: 1rem;
  line-height: 1.75rem;
  text-align: justify;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 0 0.5rem;
  }
}

.heroLink {
  color: inherit;
  text-decoration: underline;
}

.aboutWrapper {
  max-width: 40rem;
  text-align: justify;
  padding: 5rem 0;
  margin: 0 auto;
  line-height: 1.75rem;
  @media (max-width: 768px) {
    padding: 3rem 0;
  }
}

.title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 4px solid #73cca8;
}

.textBlocks {
  margin: 2rem 0;
  @media (max-width: 768px) {
    padding: 0 0.5rem;
  }
}
.text {
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.skillsList {
  display: grid;
  grid-template-columns: repeat(2, minmax(7rem, 14rem));
  justify-content: space-around;
  gap: 1rem 2rem;
  padding: 0px;
  margin: 1.5rem 0;
}

.group {
  padding: 0.3rem;
  &:hover {
    outline: #73cca8 2px dashed;
  }
}
.skill {
  position: relative;
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
  &::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: #73cca8;
    font-size: 1rem;
    line-height: 1rem;
  }
}
