.heroWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 115vh;
  padding: 8rem 0;
  margin: 0 auto;
  @media (max-width: 768px) {
    min-height: 70vh;
    padding: 3rem 0;
  }
}

.content {
  margin: 0 auto;
  text-align: center;
}
.title {
  font-size: 5.5rem;
  font-weight: 400;
  @media (max-width: 768px) {
    font-size: 3.5rem;
  }
}
.subTitle {
  font-size: 2rem;
  font-weight: 400;
}
.photoContainer {
  width: 340px;
  height: 340px;
  margin: 2rem auto;
  @media (max-width: 768px) {
    width: 204px;
    height: 204px;
  }
}

.img {
  width: 100%;
  height: 100%;
  background-color: #2e3445;
  border-radius: 50%;
}

.description {
  max-width: 40rem;
  margin: 2rem auto;
  font-size: 1.2rem;
  text-align: justify;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 0 0.5rem;
  }
}
