.projectsWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 150vh;
  padding: 5rem 0 15rem;
}

.content {
  height: 100%;
}
.title {
  font-size: 2rem;
  font-weight: 400;
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 4px solid #73cca8;
}

.description {
  max-width: 40rem;
  margin: 2rem auto;
  font-size: 1.2rem;
  text-align: justify;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.filterPanel {
  max-width: 40rem;
  margin: 2rem auto;
  display: flex;
  height: 4rem;
  padding: 0.3rem 0;
  flex-direction: row;
  justify-content: space-around;
}

.filterButton {
  font-size: 1.5rem;
  background-color: inherit;
  padding: 1rem 3rem;
  vertical-align: center;
  border-radius: 1.5rem;
  border: 0;
  color: #dbe8d4;
  cursor: pointer;
}

.filterButtonActive {
  @extend .filterButton;
  background-color: #dbe8d4;
  color: #73cca8;
}

.projectsCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  // width: 60vw;
  margin: 0 auto;
  height: 100%;
}
