.projectsWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5rem 0;
  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 2rem 0.5rem;
  }
}

.content {
  height: 100%;
  max-width: 90vw;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 4px solid #73cca8;
  @media (max-width: 425px) {
    max-width: 90vw;
  }
}

.description {
  max-width: 40rem;
  margin: 2rem auto;
  font-size: 1.2rem;
  text-align: justify;
  margin: 2rem auto;
  @media (max-width: 425px) {
    max-width: 90vw;
    font-size: 0.9rem;
  }
}

.filterPanel {
  max-width: 40rem;
  margin: 2rem auto;
  display: flex;
  padding: 0.3rem 0;
  flex-direction: row;
  justify-content: space-around;
  @media (max-width: 425px) {
    flex-direction: column;
  }
}

.filterButton {
  font-size: 1.5rem;
  background-color: inherit;
  padding: 1rem 3rem;
  vertical-align: center;
  border-radius: 1.5rem;
  border: 0;
  color: #dbe8d4;
  cursor: pointer;
}

.filterButtonActive {
  @extend .filterButton;
  background-color: #dbe8d4;
  color: #73cca8;
}

.projectsCards {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  max-width: 70vw;
  margin: 0 auto;
  height: 100%;
  @media (max-width: 768px) {
    max-width: initial;
    flex-flow: column;
    align-items: center;
    max-width: 90vw;
  }
}
