.btn {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  background-color: inherit;
  padding: 0.5rem 1.3rem;
  border-radius: 1.5rem;
  border: 0;
  color: #dbe8d4;
  background-color: #73cca8;
  cursor: pointer;
  transition: all 0.3s linear;
  z-index: 100;

  @media (max-width: 425px) {
    bottom: 1rem;
    right: 1rem;
  }
}
